<div class="container">

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item square-box">
      <strong><%= reminderItem.title %>: </strong>
      ||<%= reminderItem.type %>
      || Due Date: <%= reminderItem.duedate %>
      ||<%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
