<header class="header">
  <nav id="nav1">

      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/reminder/new">Create</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Modify</a></li>
      </ul>
  </nav>

</header>


<div class="container">
  <br>
  <input type="text" id="searchInput" placeholder="Search assignments...">
  <button onclick="sortAssignmentsByDueDate()">Sort by Due Date</button>
  <button onclick="sortAssignmentsByType()">Sort by Type</button>

  <ul class="list-group">
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item square-box">
        <strong><%= reminderItem.title %>: </strong>
        || <span class="type"><%= reminderItem.type %></span>
        || Due Date: <span class="duedate"><%= reminderItem.duedate %></span>
        || <%= reminderItem.description %>
        || <%= reminderItem.tag %>
        || 
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">Completed</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">Not completed</span>
        <% } %>
        <% var currentDate = new Date(); %>
        <% var dueDate = new Date(reminderItem.duedate); %>
        <% var dateDiff = dueDate.getTime() - currentDate.getTime(); %>
        <% var oneDay = 24 * 60 * 60 * 1000; %> <!-- used mileseconds for this part!! -->

        <% if (dateDiff <= 2 * oneDay) { %>
          <span class="badge badge-danger">Urgent</span>
        <% } else if (dateDiff > 2 * oneDay && dateDiff <= 4 * oneDay) { %>
          <span class="badge badge-warning">High</span>
        <% } else if (dateDiff > 4 * oneDay && dateDiff <= 6 * oneDay) { %>
          <span class="badge badge-info">Medium</span>
        <% } else if (dateDiff > 6 * oneDay) { %>
          <span class="badge badge-secondary">Low</span>
        <% } %>

        ||
        <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      </li>
    <% }) %>
  </ul>
</div>

<script>
  function sortAssignmentsByDueDate() {
    var reminders = document.getElementsByClassName("list-group-item");
    var remindersArray = Array.from(reminders);
    remindersArray.sort(function(a, b) {
      var dueDate1 = new Date(a.querySelector(".duedate").textContent);
      var dueDate2 = new Date(b.querySelector(".duedate").textContent);
      return dueDateA1 - dueDate2;
    });
    var list = document.querySelector(".list-group");
    list.innerHTML = "";
    remindersArray.forEach(function(reminder) {
      list.appendChild(reminder);
    });
  }

  function sortAssignmentsByType() {
    var reminders = document.getElementsByClassName("list-group-item");
    var remindersArray = Array.from(reminders);
    remindersArray.sort(function(a, b) {
      var typeA = a.querySelector(".type").textContent;
      var typeB = b.querySelector(".type").textContent;
      return typeA.localeCompare(typeB);
    });
    var list = document.querySelector(".list-group");
    list.innerHTML = "";
    remindersArray.forEach(function(reminder) {
      list.appendChild(reminder);
    });
  }

  function searchAssignments() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    ul = document.querySelector('.list-group');
    li = ul.getElementsByTagName('li');
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("strong")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  document.getElementById("searchInput").addEventListener("keyup", searchAssignments);

  
  sortAssignmentsByDueDate();
</script>
